# .gitlab-ci.yml
image: python:3.11


stages:
  - test

before_script:
  - python -m pip install --upgrade pip
  - pip install .[test]

test:
  stage: test
  parallel:
    matrix:
      - PYTHON_VERSION: [ "3.10" ]
  image: python:${PYTHON_VERSION}
  script:
    - echo "DB_HOST $METADATA_URI $TAXONOMY_URI"
    - coverage run -m pytest -c pyproject.toml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
    expire_in: 1 week

