language: python
os: linux

python:
  - "3.8"

services:
  - mysql

install:
  - pip install -r requirements-test.txt
  - pip install -e .

script:
  - travis_wait coverage run -m pytest -vvv --server mysql://travis@127.0.0.1:3306
