ensembl-py >= 2.1.0
ensembl-utils >= 0.5.0
mysqlclient >= 1.4.6, < 2.3.0
grpcio
protobuf
grpcio-tools
grpcio-reflection
sqlalchemy<=2.0
types-pymysql
urllib3~=1.26.15
duckdb >= 1.2.0
duckdb-engine >= 0.17.0
