ensembl-py >= 3.0.0 #May need to revert to 2.1.3
#Carries appropriate version of ensembl utils
#mysqlclient >= 1.4.6, < 2.3.0 Removed scripts with requirments for this. Use sqlalchemy going forwards.
#Couldn't find this at all: types-pymysql
#Seems to be unused. urllib3~=1.26.15
grpcio
protobuf
grpcio-tools
grpcio-reflection
sqlalchemy>=2.0
duckdb >= 1.2.0
duckdb-engine >= 0.17.0
